<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
		xmlns:context="http://www.springframework.org/schema/context"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
       	http://www.springframework.org/schema/beans 
       	http://www.springframework.org/schema/beans/spring-beans.xsd
       	http://www.springframework.org/schema/context
       	http://www.springframework.org/schema/context/spring-context.xsd">

    <context:component-scan base-package="com.libridge"/>
    
    <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean" >
    		<property name="dataSource" ref="dataSource" />
    		<property name="mapperLocations" 
    		     value="classpath*:com/libridge/dao/*Dao.xml" />
    		<property name="typeAliasesPackage" 
    		     value="com.libridge.vo" />
    </bean>
    <bean id="dataSource" 
        class="org.springframework.jdbc.datasource.DriverManagerDataSource">
	    <property name="driverClassName" value="com.mysql.jdbc.Driver"/>
	    <property name="url" value="jdbc:mysql://localhost/libridgedb"/>
	    <property name="username" value="libridge"/>
	    <property name="password" value="libridge"/>
	</bean>
	
    <!-- 인터페이페이스와 SQL 매퍼파일을 참고하여 DAO 구현체 준비 -->
    <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
		<property name="basePackage" value="com.libridge.dao" />
	</bean>
</beans>





















